@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Open+Sans&display=swap");

.drop-down {
  --open-sans: "Inter";
  --blue-primary: #3774cc;
  --grey-primary: grey;
  --grey-secondary: #919191;
  font-family: var(--open-sans);
}
